<a href="https://colab.research.google.com/github/villafue/LinkedIn_Python_Stastics_Essential_Training/blob/master/03_06_categorical_end.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python statistics essential training - 03_06_categorical

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd
import os

In [4]:
os.chdir('sample_data')

In [5]:
import matplotlib
import matplotlib.pyplot as plt

import pandas.plotting

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [6]:
import re
import mailbox
import csv

In [7]:
smoking = pd.read_csv('whickham.csv')

In [8]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   outcome  1314 non-null   object
 1   smoker   1314 non-null   object
 2   age      1314 non-null   int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [9]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [10]:
pd.DataFrame(smoking.smoker.value_counts())
pd.DataFrame(smoking.smoker.value_counts( ))

     smoker
No      732
Yes     582

In [11]:
pd.DataFrame(smoking.outcome.value_counts())
pd.DataFrame(smoking.outcome.value_counts())

       outcome
Alive      945
Dead       369

In [13]:
pd.DataFrame(smoking.outcome.value_counts(normalize=True))
pd.DataFrame(smoking.outcome.value_counts(normalize=True))

        outcome
Alive  0.719178
Dead   0.280822

In [14]:
pd.DataFrame(smoking.smoker.value_counts(normalize=True))

       smoker
No   0.557078
Yes  0.442922

In [15]:
bysmoker = smoking.groupby("smoker").outcome.value_counts(normalize=True)
bysmoker = smoking.groupby('smoker').outcome.value_counts(normalize=True)
bysmoker

smoker  outcome
No      Alive      0.685792
        Dead       0.314208
Yes     Alive      0.761168
        Dead       0.238832
Name: outcome, dtype: float64

In [16]:
bysmoker.index
bysmoker.index

MultiIndex([( 'No', 'Alive'),
            ( 'No',  'Dead'),
            ('Yes', 'Alive'),
            ('Yes',  'Dead')],
           names=['smoker', 'outcome'])

In [17]:
bysmoker.unstack()
bysmoker.unstack()

outcome     Alive      Dead
smoker
No       0.685792  0.314208
Yes      0.761168  0.238832

In [21]:
smoking['ageGroup'] = pd.cut(smoking.age,[0,30,40,53,64],labels=['0-30','30-40','40-53','53-64'])
smoking['ageGroup'] = pd.cut(smoking.age,[0,30,40,53,64,75],labels=['0-30','30-40','40-53','53-64','65+'])

In [22]:
smoking['ageGroup'].head()

0     0-30
1     0-30
2      65+
3      65+
4    53-64
Name: ageGroup, dtype: category
Categories (5, object): [0-30 < 30-40 < 40-53 < 53-64 < 65+]

In [23]:
smoking['age'].head()

0    23
1    18
2    71
3    67
4    64
Name: age, dtype: int64

In [24]:
smoking.head()

  outcome smoker  age ageGroup
0   Alive    Yes   23     0-30
1   Alive    Yes   18     0-30
2    Dead    Yes   71      65+
3   Alive     No   67      65+
4   Alive     No   64    53-64

In [25]:
byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)
byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)

In [27]:
byage

ageGroup  smoker  outcome
0-30      No      Alive      0.981818
                  Dead       0.018182
          Yes     Alive      0.975610
                  Dead       0.024390
30-40     No      Alive      0.955224
                  Dead       0.044776
          Yes     Alive      0.940678
                  Dead       0.059322
40-53     No      Alive      0.876106
                  Dead       0.123894
          Yes     Alive      0.802395
                  Dead       0.197605
53-64     No      Alive      0.669291
                  Dead       0.330709
          Yes     Alive      0.580645
                  Dead       0.419355
65+       No      Dead       0.786260
                  Alive      0.213740
          Yes     Dead       0.842105
                  Alive      0.157895
Name: outcome, dtype: float64

In [28]:
byage.unstack().drop("Dead",axis=1)
byage.unstack().drop("Dead",axis=1)

outcome             Alive
ageGroup smoker
0-30     No      0.981818
         Yes     0.975610
30-40    No      0.955224
         Yes     0.940678
40-53    No      0.876106
         Yes     0.802395
53-64    No      0.669291
         Yes     0.580645
65+      No      0.213740
         Yes     0.157895